@model Shocker_Project.Models.ClientCases

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ClientCases</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CloseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CloseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reply)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminAccountNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminAccountNavigation.Account)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionCategory.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccountNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAccountNavigation.Account)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CaseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
