@model IEnumerable<Shocker_Project.Models.ClientCases>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reply)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminAccountNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccountNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reply)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminAccountNavigation.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionCategory.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAccountNavigation.Account)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CaseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CaseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CaseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
