@model IEnumerable<Shocker_Project.Models.OrderDetails>


@{
    ViewData["Title"] = "購物車清單";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>購物車清單</h2>



<table id="ShoppingCartOrder" class="table" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouponId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnReason)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coupon.CouponId)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnReason)
                </td>
            <td>
                <a href="@Url.Action("DeleteCar")?OrderId=@item.OrderId" class="btn btn-danger" onclick="return confirm('確定放棄購買 @item.ProductId 嗎?')">
                    刪除購物車
                </a>
            </td>

        </tr>
}
    </tbody>
</table>
@section Scripts{
        <script src="~/"></script>
}

<form action="@Url.Action("ShoppingCart")" method="post">
    <div class="form-horizontal">
        <h4>填寫訂單收件人資料</h4>
        <hr/>
        <div class="form-group">
            <span class="control-label col-md-2">付款方式</span>
            <div class="col-md-10">
                <input type="text" id="PayMethod" name="PayMethod" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">收件人地址</span>
            <div class="col-md-10">
                <input type="text" id="Address" name="Address" required="required" class="form-control" />
        </div>
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">收件人電話</span>
            <div class="col-md-10">
                <input type="text" id="BuyerPhone" name="BuyerPhone" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10"></div>
                <input type="submit" value="確認訂購" class="btn btn-default" />
            </div>
        </div>
      
</form>